.container {
    padding-top: 100px;
    padding: 100px 10px 0 10px;
    width: 100%;
    display: flex;

}

.container .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 50px;
}

input {
    width: 50%;
    padding: 10px 0;
}

.btn {
    width: 50%;
    padding: 10px 0;
    border: none;
    background: blue;
    color: #fff;
}

.errorMsg {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}



.headers {
    padding: 10px;
}