<div class="container">
    <form class="form" [formGroup]="userData" (ngSubmit)='submitData()'>
        <label for="roll">Roll Number</label>
        <input type="text " formControlName="rollnumber" name="" id="roll" placeholder="roll number">
        <span class="errorMsg" *ngIf=" f['rollnumber'].invalid && (f['rollnumber'].touched || submitedData)">this
            input field is
            required</span>

        <label for="firstname">firstname</label>
        <input type="text" formControlName="firstname" name="firstname" id="firstname" placeholder="firstname" required>
        <span class="errorMsg"
            *ngIf="f['firstname'].invalid && (f['firstname'].touched || submitedData)">this
            input field is required</span>
        <!-- <span class="errorMsg" *ngIf="fname && fname.invalid && fname.touched ">this input field is required</span> -->
        <label for="lastName">lastname</label>
        <input type="text" formControlName="lastname" name="" id="lastName" placeholder="lastName">
        <span class="errorMsg"
            *ngIf="f['lastname'].invalid && (f['firstname'].touched || submitedData)">this
            input field is required</span>
        <label for="branch">Branch</label>
        <input type="text" formControlName="branch" name="" id="branch" placeholder="branch">
        <span class="errorMsg"
            *ngIf=" f['branch'].invalid &&(f['branch'].touched || submitedData)">this
            input
            field is required</span>
        <label for="section">Section</label>
        <input type="text" formControlName="section" name="" id="section" placeholder="section">
        <span class="errorMsg"
            *ngIf="f['section'].invalid && (f['section'].touched || submitedData)">this
            input field is required</span>

        <button class="btn" type="submit" [disabled]="userData.invalid">submit</button>
    </form>
    <div>
        <table>
            <tr>
                <th class="headers" *ngFor="let column of headers">
                    {{column}}
                    <hr>
                </th>
            </tr>
            <tr *ngFor="let rows of array">
                <td class="tableData">
                    {{rows.firstname}}
                </td>
                <td class="tableData">
                    {{rows.lastname }}
                </td>
                <td class="tableData">
                    {{rows.branch}}
                </td>
                <td class="tableData">
                    {{rows.rollnumber}}
                </td>
                <td class="tableData">
                    {{rows.section}}
                </td>
                <td>
                    <button class="edit-btn" (click)="editStudentEdit(rows)">edit</button>
                </td>
            </tr>
        </table>
    </div>
</div>