.container {
    padding-top: 100px;
    padding: 100px 10px 0 10px;
    width: 100%;
    display: flex;

}

.container .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 50px;
}

input {
    width: 50%;
    padding: 10px 0;
}

.btn {
    width: 50%;
    padding: 10px 0;
    border: none;
    background: blue;
    color: #fff;
}

.errorMsg {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

table hr {
    border: 0.5px solid black;
}

.tr:last-child {
    border: none;
}

.headers {
   padding: 0 15px 0 25px;
}

td {
    padding:10px 10px 10px 35px ;
}

.edit-btn {
    padding: 5px 25px;
    border: none;
    background: rgb(116, 197, 116);
    border-radius: 5px;
}

.student-btn {
padding: 10px 20px;
border-radius: 20px;
background: green;
border: none;
 }

.student {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
