<div class='banner'>
    <img class='img' src="../../../assets/images/banner.jpg" width="85%" alt='banner' />
    <div class='details'>
        <h3 class='chaild'>LATEST RECIPE</h3>
        <h1 class='chaild'>Baked Polenta with CHeese and Mushrooms.</h1>
        <p class='chaild'>Normally, garlic mushrooms are cooked in butter and garlic, hence the name of the recipe.
            However, you will love the extra ingredients we add even more..</p>
        <button class='button'>Go to recipe <span><i class="fas fa-long-arrow-alt-right"></i></span></button>
    </div>
</div>