/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sudent {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    background: rgb(103, 196, 103);
}
